#
# GitHub Actions workflow.
#
# Deploys RabbitMQ and MongoDB database.
#

name: Deploy infrastructure

on:
  #
  # Allows deployment to be invoked manually through the GitHub Actions user interface.
  #
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v3

      # Give execute permission to the infrastructure script
      - name: Grant execute permission to infrastructure script
        run: chmod +x ./scripts/infrastructure.sh

      #
      # Deploy infrastructure
      #
      - name: Deploy Infrastructure
        run: ./scripts/infrastructure.sh
